.open_indicator{
    margin: 4px 10px 4px 4px ;
}
li.file_name:hover{
    background-color: lightyellow;
}
.file_name .file_button{
    border: 0px;
}
.file_button_div{
	text-align:right;
    float:none;
    position:absolute;
    right:0;
    top:0;
	display:inline-block;
    vertical-align: center;
    background-color: lightyellow;
}
.file_name:hover .file_button_div{
   display:block;
   position:absolute;
}
.file_button {
    padding: 0px;
    width: 15px;
    display: none;
}
.file_name:hover .file_button,
.folderName:hover .file_button {
    display: inline;
}
.file_name,
.folderName {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.folderContents:first-child li.rootFolderName{
    position:relative;
    right:0;
}
.folder_button_div{
    display:inline-block;
    float:none;
    position:absolute;
    right:0;
}
.file_name{
    vertical-align: center;
}
.file_name:hover {
    background-color: lightblue;
}
.sidebar-nav li{
	list-style-type: none;
}
.sidebar-nav ul{
    list-style-type: none;
}
.span2{
    min-width: 170px;
}
.buttonDiv{
    float:none;
    text-align: center;
    width: 100%;
}
.filePaths{
    padding:0px;
}	
.folderName {
    z-index:3;
}
.folderName:hover{
    background-color:lightblue;
}
.folderContents{
    border:none;
    border-radius: 4px;
    z-index: 2;
}