.sim_split{
    background-color: lightgray;
    height:250px;
}
.open_indicator{
    margin: 4px 10px 4px 4px ;
}
.file_name .file_button{
    border: 0px;
}
.file_button_div{
	text-align:right;
    float:none;
    position:absolute;
    right:0;
	display:inline-block;
    vertical-align: center;
}
.file_name:hover .file_button_div{
   display:block;
   position:absolute;
   /*right:0;*/
}
.file_button {
    padding: 0px;
    width: 15px;
    display: none;
}
.file_name:hover .file_button,
.folderName:hover .file_button {
    display: inline;
}
.file_name,
.folderName {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #08c;
}

/*.folder_button_div .new_button{
    display:none;
}
.folder_button_div:hover .new_button{
    display:inline-block;
}*/
.folderContents:first-child li.rootFolderName{
    background-color:rgba(255,192,0, .8);
    position:relative;
    right:0;
}
.folder_button_div{
    display:inline-block;
    float:none;
    position:absolute;
    right:0;
}
.file_name:nth-child(even){
	background-color: #F8F8F8;
}
.file_name{
    vertical-align: center;
}
.file_name:hover {
    background-color: lightblue;
}
.sidebar-nav li{
	list-style-type: none;
}
.sidebar-nav ul{
    list-style-type: none;
}
.tab-pane {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.nav-tabs {
    margin-bottom: 0;
}
.span2{
    min-width: 170px;
}
.buttonDiv{
    float:none;
    text-align: center;
    width: 100%;
}
.filePaths{
    padding:0px;
}	
.folderName {
    background-color: lightgray;
    border: solid white 1px;
    border-radius: 4px;
    z-index:3;
}
.folderName:hover{
    background-color:lightblue;
}
.folderContents{
    border:none;
    border-radius: 4px;
    z-index: 2;
}