.tape_wrapper{
	background-color : white;
	text-align : center ;
	vertical-align: center;
}
.nav-pills li a{
	background-color: azure;
	cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tape_segment{
	border-style: solid;
	border-color: black;
	background-color: white;
	border-width: 2px 1px 2px 1px;
	margin:0px;
	padding:0px;
	top:0;
	bottom:0;
	text-align: center;
	vertical-align: middle;
	display : inline-block;
	position : absolute
}
.left_segment{
	/*background-color: lightyellow;*/
}
.right_segment{
	/*background-color: lightyellow;*/
}		
.current_segment{
	background-color : lightyellow;
}
.prev_segment{
	color : blue;
}
.sim_split{
	text-align : center;
	max-width : 900px;
	min-width : 690px;
	height : 300px;
	position : relative;
	border-radius : 5px;
	font : monospace;
	background-color : whitesmoke	;
}
.pull-center {
    display: table;
    margin: 0 auto;
    position:relative;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid black;
}
.transition_div{
	font : large monospace;
}
.old_transition_div{
	font : medium monospace;
}
.write_symbol{
	
}
.read_symbol{
	color : red;
}
.curr_state{
	color : green;
}
.old_new_state{
	color : green;
}
.old_write_symbol{
	color : blue;
}