.tape_wrapper{
	background-color : white;
	text-align : center ;
	vertical-align: center;
}
.tape_segment{
	border-style: solid;
	border-color: black;
	background-color: white;
	border-width: 2px 1px 2px 1px;
	margin:0px;
	padding:0px;
	top:0;
	bottom:0;
	text-align: center;
	vertical-align: center;
	display : inline-block;
	position : absolute
}
.left_segment{
	background-color: lightyellow;
}
.right_segment{
	background-color: lightyellow;
}		
.current_segment{
	background-color: lightyellow;
}
.sim_split{
	text-align: center;
}
.test_radio{

}
.pull-center {
    display: table;
    margin: 0 auto;
    position:relative;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid black;
}
