{% extends "base.html" %}
{% block title %}6.004 Change Password{% endblock %}
{% block content %}
<form action="{{ url }}" method="post">
<div class="banner">Change Password</div>
<div class="warning">{{ message }}</div>
<input type="hidden" name="email" value="{{ email }}">
<table cellpadding=5>
<tr>
  <td>Old password:</td>
  <td><input type="password" name="old_password" style="width:300px"></td>
</tr>
<tr>
  <td>New password:</td>
  <td><input type="password" name="new_password" style="width:300px"></td>
</tr>
<tr>
  <td>Confirm new password:</td>
  <td><input type="password" name="confirm_password" style="width:300px"></td>
</tr>
<tr>
  <td></td>
  <td><input type="submit" name="action" value="Change password" class="action"></td>
</tr>
</table>
</form>
{% endblock %}
