{% extends "base.html" %}
{% block title %}6.004 Edit User{% endblock %}
{% block content %}
<div class="banner">Status for {{ user.first_name }} {{ user.last_name }} ({{ user.email }})</div>

<!-- assignment table -->
<p><table class="assignments" border=1 cellpadding=3>
<tr>
  <th>Assignment</th>
  <th>Due</th>
  <th>Status</th>
  <th>Points</th>
<tr>
{% for a in scores %}
<tr>
  <td>{{ a.description }}</td>  
  <td>{{ a.due }}</td>  
  <td>{{ a.status }}</td>  
  <td>{{ a.score }}/{{ a.points }}</td>
</tr>
{% endfor %}
</table>

<p><a class="button" href="{{ status_url }}/grades/submit_score?email={{ user.email }}">Enter/change score</a>

<p><div class="banner">Edit user info</div>

<!-- form for changing info -->
<div class="warning">{{ message }}</div>
{% if user %}
<form action="{{ url }}" method="post">
<input type="hidden" name="email" value="{{ user.email }}">
<table cellpadding=5>
<tr>
  <td>Email:</td>
  <td>{{ user.email }}</td>
</tr>
<tr>
  <td>Last name:</td>
  <td><input type="text" name="last_name" style="width:300px" value="{{ user.last_name }}"></td>
</tr>
<tr>
  <td>First name:</td>
  <td><input type="text" name="first_name" style="width:300px" value="{{ user.first_name }}"></td>
</tr>
<tr>
  <td>MIT ID:</td>
  <td><input type="text" name="mit_id" style="width:300px" value="{{ user.mit_id }}"></td>
</tr>
<tr>
  <td>Section:</td>
  <td>
    <select name="section">
      <option value="unassigned">Unassigned</option>
      {% for section in sections %}
        <option value="{{ section.name }}"{% if section.name == user.section %} selected{% endif %}>{{ section.name }}: {{ section.description }}</option>
      {% endfor %}
    </select>
  </td>
</tr>
<tr>
  <td>Status:</td>
  <td>
    <select name="status">
       <option value="registered"{% if user.status == "registered" %} selected{% endif %}>registered student</option>
       <option value="listener"{% if user.status == "listener" %} selected{% endif %}>listener</option>
       <option value="dropped"{% if user.status == "dropped" %} selected{% endif %}>dropped</option>
       <option value="LA"{% if user.status == "LA" %} selected{% endif %}>LA</option>
       <option value="staff"{% if user.status == "staff" %} selected{% endif %}>staff</option>
    </select>
  </td>
</tr>
<tr>
  <td></td>
  <td><input type="submit" name="action" value="Update user info" class="action"></td>
</tr>
</table>
</form>
{% endif %}

<p><A href="{{ status_url }}">Return to Status page</A>

{% endblock %}
