{% extends "base.html" %}
{% block title %}6.004 Online Records{% endblock %}
{% block content %}
<form action="{{ url }}" method="post">
<div class="banner">Online records for {{ name }} ({{ email }})</div>

<p><a class="button" href="{{ url }}user/change_password">Change Password</a>

<!-- assignment table -->
<p><table class="assignments" border=1 cellpadding=3>
<tr>
  <th>Assignment</th>
  <th>Due</th>
  <th>Status</th>
  <th>Points</th>
<tr>
{% for a in scores %}
<tr>
  <td>{{ a.description }}</td>  
  <td>{{ a.due }}</td>  
  <td>{{ a.status }}</td>  
  <td>{{ a.score }}/{{ a.points }}</td>
</tr>
{% endfor %}
</table>

<p>{% block course %}{% endblock %}
{% endblock %}
