<!DOCTYPE html>
<html>
<head>
<style>
.dialog {
  width: 500px;
  font: 20px sans-serif;
  text-align: left;
  margin-top: 20px;
}
.header {
  background-color: #FAA732;
  color: white;
  padding: 15px;
}
input.create {
  margin-top: 20px;
  padding: 10px;
  font: 20px sans-serif;
  background-color: #FAA732;
  color: white;
  border-radius: 4px;
  -webit-border-radius: 4px;
}
</style>
</head>
<body>
<form action="{{ url }}" method="post" enctype="multipart/form-data">
<center>
<div class="dialog">
  <div class="header">
    <b>Upload file or zip archive</b>
  </div>
  <div style="padding: 15px;">
    Please select a file or zip archive to upload, then click "Upload" to complete the request.
    <p>
    <input type="file" name="userfile" style="width:300px;font: 20px serif"><br>
    <input type="submit" name="upload" value="Upload" class="create">
  </div>
</div>
</center>
</form>
</body>
</html>
