.tab-pane {
                border-bottom: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }

.nav-tabs {
    margin-bottom: 0;
}

.posText {
    position:absolute;
/*    border: 1px solid rgb(54,54,54);*/
/*    background: white;*/
    opacity: .85;
    padding: 2px;
/*    border-radius: 5px;*/
/*    width:100px;*/
    font-size:10pt;
/*    width:70%;*/
}

.posText div {
    min-width: 90px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.placeholder {
    display:inline-block;
}

#graph-toolbar {
    padding-left:15px;
}

.novalues {
    text-align:center;
    padding:5px;
    color:#545454;
    background: #eee;
    border: 1px solid #ddd;
    border-radius:5px;
    margin:5px;
}

.plot-wrapper {
    padding-left:10px;
    margin-bottom:-10px;
    margin-right:20px;
}

.plot-wrapper.bg-alt {
    background-color:#eee;
}
/*
.close-btn {
    z-index:1;
    position:relative;
    top:20px;
}
*/

#simulation-pane {
    position:relative;
/*    overflow:scroll;*/
    border: 1px solid #ddd;
}

#results {
    overflow:scroll;
    position:relative;
/*    top:40px;*/
    border-top: 1px solid #ddd;
    text-align:center;
/*    color:#aaa;*/
/*    font-size:20pt;*/
}


