.tab-pane {
                border-bottom: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
            }

.nav-tabs {
    margin-bottom: 0;
}

.posText {
    position:absolute;
/*    border: 1px solid rgb(54,54,54);*/
    background: white;
    opacity: .85;
    padding: 2px;
/*    border-radius: 5px;*/
/*    width:100px;*/
    font-size:10pt;
/*    width:70%;*/
}

.posText div {
    min-width: 90px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.placeholder {
    display:inline-block;
}

.zoompan {
/*    display:inline-block;*/
    vertical-align:top;
    position:fixed;
    top:150px;
    right:40px;
/*    bottom:50px;*/
}

.plot-wrapper {
/*
    border: solid 1px #ddd;
    border-radius: 5px;
*/
/*    margin-bottom:10px;*/
/*    margin-top:3px;*/
/*    margin-bottom:5px;*/
/*    padding-top:5px;*/
    padding-left:10px;
    margin-bottom:-10px;
    margin-right:20px;
}

#simulation-pane {
    position:relative;
    overflow:scroll;
    border: 1px solid #ddd
}


